<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>884763953749-3dc9dq019c0cch5akjlhfhvtpq3kpfqo.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.884763953749-3dc9dq019c0cch5akjlhfhvtpq3kpfqo</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>884763953749-flrq9qfknt0868ta2co95639g1dku5pt.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyC1rjBNyjYf96oDROaGhBA4dxoJTFnOWJs</string>
	<key>GCM_SENDER_ID</key>
	<string>884763953749</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>agency.cinnamon.cinnamonRiverpod2</string>
	<key>PROJECT_ID</key>
	<string>tripfindercinnamon</string>
	<key>STORAGE_BUCKET</key>
	<string>tripfindercinnamon.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:884763953749:ios:74e7900aebbd403e8962dc</string>
</dict>
</plist>